extends ../partials/layout

block content

    main
        section#login-head.row.padded 
            div.flex-grid-wrapper.two-order
                div.top-item(data-type-order="1")
                    i.login-icon
                    h1 Sign Up For a Daily Peel Account. 
                    p Sign-up with your banano wallet. Create a unique password and a username. Connect them with your banano wallet.
                    a.btn(href="./faqs", data-flow="help-message", aria-label="How to sign in") Need a little help?
                    a.underline-animation(href="./privacy-policy", aria-label="Privacy Policy") The Important Bits
                    hr
                    
                div.form-wrapper#form-wrapper(data-type-order="2")
                    form#login(action="/sign-up", method="post", data-flow="sign up form")
                        div
                            p Sign the following: 
                                span#target-sig-to-sign 
                                    input#copy-text-target(type="text" value=`${authString}`, readonly)
                                    span.copy-toggle-target
                                a.underline-animation(href=`${authUrl}`, aria-label="banano stand link", target="_blank" rel="nofollow, noindex, noreferrer") Sign message with Bananostand
                    
                        div.sig-input.form-items
                            label(for="sig") Signature 
                            input#sig(name="sig", placeholder="52F56AC43E4FC256...", aria-label="signature response", type="text")
                            a.underline-animation.question(href="#", aria-label="help popup link", rel="nofollow, noindex, noreferrer", data-flow="popuphelp")
                                    span ?
                                    span Not sure how to sign a message. 

                        div.input.form-items
                            label(for="banaddress", aria-label="banano address") Address 
                            input#banaddress(name="banaddress", placeholder="ban_...", aria-label="banano address input", type="text")

                        div.input.form-items
                            label(for="user") Create a Username 
                            input#user(name="user", aria-label="username input", type="text")

                        div.input.form-items.password-type
                            label(for="pin") Password 
                            input#pin(name="pin", aria-label="signature response", type="password", data-flow="password-toggle")
                            input.reveal(type="checkbox", aria-label="reveal-password", data-flow="show password")
                            
                        div.input.form-items.password-type
                            label(for="pinRepeat") Repeat Password 
                            input#pinRepeat(name="pinRepeat", aria-label="signature response", type="password", data-flow="password-toggle")
                            input.reveal(type="checkbox", aria-label="reveal-password", data-flow="show password")

                        div.flex-row
                            button.btn#submititem(data-flow="sign-up", aria-label="Sign up to daily peel") Sign up to daily peel

                div.bottom-item(data-type-order="3")
                    wrapper#carousel-wrapper 
                        article.review
                            i.quote 
                            blockquote Just because you think you done a good job archtects, Doesn't mean we will give you a council position.
                            .user 
                                figure.user-wrapper 

                                div.name
                                    strong SoggyApplePie 
                                    span Employer of basement maid's

    footer
        include ../partials/footer