#addElements.col(data-flow="add-elements-to-editor", data-is-sortable="false")
    div.two-col.inner-toolbar-section(data-flow="add-layout-elements")
        h3 Layout
        ul.elementlistitems
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addFullWidth", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add Full Width Layout")
                span Section
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addTwoColumns", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add Two Column Layout")
                span Column

            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addThreeColumns", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add Three Column Layout")
                span Column
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addFourColumns", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add Four Column Layout")
                span Column
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addOneThirdColumns", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add One Third Column Layout")
                span Column

            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addTwoThirdsColumns", data-is-type="layout", data-is-sortable="dragable-layout", data-tooltip="Add Two Thirds Column Layout")
                span Column

    div.two-col.inner-toolbar-section(data-flow="add-layout-elements", data-is-sortable="dragable" data-has-state="dragable-state", data-helper="clone", data-revert="invalid")
        h3 Elements
        ul.elementlistitems
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addHeading", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Heading Element")
                span Heading
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addParagraph", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Paragraph Element")
                span Paragraph

            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addSingleImage", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Single Image")
                span Image
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addPre", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Pre tags for code")
                span Code
            
            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addList", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add List")
                span List

            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addGallery", data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Image Gallery")
                span Gallery

            li.tooltipitems.left-tip.addtoggleclass(data-flow="add-element", data-id="addBlockQuote",  data-is-type="content", data-is-sortable="dragable-content", data-tooltip="Add Blockquote")
                span Quote