section(data-flow="paralax-scroll-animation-notifier")
aside#footer-reveal
    section#footer-scroll-target(style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1); ")
        section#footertop.col
            div.three-col
                p.large-head You have reached the end.
            div.three-col.socials
                p.footerhead Socials
                ul
                    li#discord
                        a.underline-animation(href="https://chat.banano.cc/", aria-label="Discord Link", target="_blank", rel="nofollow, noindex, noreferrer") Join our Discord
                    li#reddit
                        a.underline-animation(href="https://www.reddit.com/r/banano/", aria-label="Reddit Link", target="_blank", rel="nofollow, noindex, noreferrer") Subscribe on Reddit
                    li#xtwotter
                        a.underline-animation(href="https://twitter.com/bananocoin", aria-label="Twitter/X Link", target="_blank", rel="nofollow, noindex, noreferrer") Follow on X
                    li#youtube
                        a.underline-animation(href="https://www.youtube.com/c/bananopictures", aria-label="Youtube Link", target="_blank", rel="nofollow, noindex, noreferrer") Subscribe on YouTube
                    li#medium 
                        a.underline-animation(href="https://medium.com/banano", aria-label="Medium Link", target="_blank", rel="nofollow, noindex, noreferrer") Follow on Medium
                    li#telegram
                        a.underline-animation(href="https://t.me/banano_official", aria-label="Telegram Link", target="_blank", rel="nofollow, noindex, noreferrer") Join our Telegram
                    li#instagram
                        a.underline-animation(href="https://www.instagram.com/bananocurrency/", aria-label="Instagram Link", target="_blank", rel="nofollow, noindex, noreferrer") Follow on Instagram
                    li#facebook
                        a.underline-animation(href="https://www.facebook.com/bananocurrency/", aria-label="Facebook Link", target="_blank", rel="nofollow, noindex, noreferrer") Follow on Facebook

            div.three-col
                p.footerhead Useful Links
                
        section#footerend.col
            div.two-col 
                p=date 
                    span  Copyright Daily Peel 
                    span News for the banfam by the banfam.
            div.two-col
