.bell-top-anim {
    animation: abanico 1000ms ease-in-out; 
    transform-origin: top;
}

.bell-bot-anim {
    animation: badalo 1000ms ease-in-out;
}

@keyframes abanico {
    0% {
        transform: rotate(0deg);
    }
    7.5% {
        transform: rotate(25deg);
    }
    30% {
        transform: rotate(-25deg);
    }
    45% {
        transform: rotate(15deg);
    }
    58% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(5deg);
    }
    87.5% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes badalo {
    0% {
    }
    15% {
        transform: translateX(-4px) rotate(20deg);
    }
    32.5% {
        transform: translateX(17px) rotate(-20deg);
    }
    50% {
        transform: translateX(-2px) rotate(14deg);
    }
    65% {
        transform: translateX(12px) rotate(-14deg);
    }
    80% {
        transform: translateX(2px) rotate(6deg);
    }
    90% {
        transform: translateX(9px) rotate(-6deg);
    }
    100% {
        transform: translateX(5px) rotate(0deg);
    }
}


@keyframes opcaityanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}